RewriteEngine On  
 RewriteRule ^raspunsuri/([a-zA-Z0-9-/]+)$ raspunsuri.php?id=$1  
 RewriteRule ^raspunsuri/([a-zA-Z-0-9-]+)/ raspunsuri.php?id=$1  
  RewriteRule ^rez_test/([a-zA-Z0-9-/]+)$ rez_test.php?titlu=$1  
 RewriteRule ^rez_test/([a-zA-Z-0-9-]+)/ rez_test.php?titlu=$1 
 RewriteRule ^detalii_test/([a-zA-Z0-9-/]+)$ detalii_test.php?titlu=$1  
 RewriteRule ^detalii_test/([a-zA-Z-0-9-]+)/ detalii_test.php?titlu=$1 
 RewriteRule ^lectie2/([a-zA-Z0-9-/]+)$ lectie2.php?titlu=$1  
 RewriteRule ^lectie2/([a-zA-Z-0-9-]+)/ lectie2.php?titlu=$1 
 RewriteRule ^exercitii2/([a-zA-Z0-9-/]+)$ exercitii2.php?titlu=$1  
 RewriteRule ^exercitii2/([a-zA-Z-0-9-]+)/ exercitii2.php?titlu=$1 
 RewriteRule ^user/([a-zA-Z0-9-/]+)$ user.php?id=$1  
 RewriteRule ^user/([a-zA-Z-0-9-]+)/ user.php?id=$1 
 RewriteRule ^clasa/([a-zA-Z0-9-/]+)$ clasa.php?clasa=$1  
 RewriteRule ^clasa/([a-zA-Z-0-9-]+)/ clasa.php?clasa=$1 